/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f3f6f9;
    color:#222;
}

/* Header */

.top-bar{
    background:#0A66C2;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px;
    flex-wrap:wrap;
}

.logo{
    font-size:24px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:8px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

/* Hero */

.hero{

    background:white;

    text-align:center;

    padding:60px 20px;
}

.hero h1{

    font-size:42px;

    margin-bottom:15px;
}

.hero p{

    font-size:18px;

    max-width:700px;

    margin:auto;

    color:#666;
}

#searchInput{

    width:90%;

    max-width:600px;

    margin-top:30px;

    padding:16px;

    border-radius:30px;

    border:2px solid #0A66C2;

    font-size:16px;
}

/* Categories */

.categories{

    padding:40px 20px;

    text-align:center;
}

.category-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

    gap:15px;

    margin-top:25px;
}

.category{

    background:white;

    padding:20px;

    border-radius:12px;

    font-weight:bold;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    transition:.3s;
}

.category:hover{

    background:#0A66C2;

    color:white;

    transform:translateY(-5px);
}

/* Job Cards */

.jobs{

    padding:40px 20px;
}

.jobs h2{

    text-align:center;

    margin-bottom:25px;
}

.job-card{

    background:white;

    border-radius:15px;

    overflow:hidden;

    margin:25px auto;

    max-width:700px;

    box-shadow:0 4px 15px rgba(0,0,0,.12);
}

.job-card img{

    width:100%;

    height:230px;

    object-fit:cover;
}

.job-card h3{

    padding:15px 20px 0;
}

.job-card p{

    padding:10px 20px;

    color:#555;
}

.apply-btn{

    display:inline-block;

    margin:20px;

    padding:12px 22px;

    background:#0A66C2;

    color:white;

    text-decoration:none;

    border-radius:8px;

    font-weight:bold;
}

.apply-btn:hover{

    background:#084c91;
}

/* Tips */

.tips{

    background:white;

    margin:40px 20px;

    padding:30px;

    border-radius:15px;
}

.tips h2{

    margin-bottom:15px;
}

.tips li{

    margin:12px 0;

    list-style:none;
}

/* Footer */

footer{

    background:#0A66C2;

    color:white;

    text-align:center;

    padding:30px;

    margin-top:40px;
}

/* Mobile */

@media(max-width:700px){

.hero h1{

font-size:30px;

}

.top-bar{

justify-content:center;

text-align:center;

}

nav{

margin-top:15px;

}

}

.hero-button{
    display:inline-block;
    margin:10px;
    padding:14px 28px;
    background:#0A66C2;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.hero-button:hover{
    background:#084c91;
}

.hero-button.secondary{
    background:#28a745;
}

.hero-button.secondary:hover{
    background:#1f7d35;
}
